body {
	font-size: 14px;
	line-height: 24px;
	color: #000000;
	font-weight: 700;
	font-family: "PT Sans Narrow", "Arial", sans-serif;
	background: grey;
}

h1,
h2 {
	font-size: 30px;
	line-height: 42px;
}

h3 {
	font-size: 24px;
	line-height: 30px;
}